:root{
    --primary:rgb(11, 124, 118);
    --secendry:#04a99c;
    --buttoncolor:#0189C3;
}
@keyframes fadeInLeft {
    0% {
       transform: translateX(-300px);
       -webkit-transform: translateX(-300px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       -webkit-transform: translateX(0px);
    }
  }
  @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(400px);
       -webkit-transform: translateX(400px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       -webkit-transform: translateX(0px);
    }
  }
  