.navbar {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 7px 8px 0px rgb(0 0 0 / 6%);
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.navbar ul {
  display: flex;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  text-align: center;
  margin-top: 2em;
  position: absolute;
  width: 100vw;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-link:hover .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Samenwerken {
  background-color: var(--primary);
  border: none;
  padding: 0.5em 3em;
  border-radius: 50px;
  color: white;
}
.nav-link {
  padding: 2rem 2rem;
}
.active {
  border-bottom: solid 2px var(--primary);
}
.active a{
  font-weight: 600;
  color: var(--primary);
}
.nav-link:hover a{
  color: var(--primary);
  ;
}
.nav-link:hover{
  border-bottom: solid 2px var(--primary);
}
/* main */
.title{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}
.title p{
  color: #b4b4b4;
}
.hilight{
  color:var(--secendry);
}
.animate{
  display: block;
  position: relative;
  background: var(--primary);
  width: 130px;
  height: 3px;
  margin: 2em;
}
.animate::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 15px;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  animation: animborder 2s linear infinite;
}
.title-line{
  background-color: var(--primary);
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  margin: 2em 0;
}
.image-main{
  width: 100%;
}
main .row{
  padding: 10px;
}
.col-image , .col-content{
  padding: 2em;
}
.main__discription{
  font-weight: bold;
}
.main__button{
  padding: 0.5em 2em;
  margin: 1em 0;
  background-color: var(--buttoncolor);
  color: white;
  border: none;
  border-radius:5px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.main__button:hover{
  background-color: var(--secendry);
}
